@{
  Layout = "_Layout";
}

@model MechanicManager.Models.Machine

<p>Complete the form to add a machine to the database.</p>
<p>@Html.ValidationMessageFor(newEntry => newEntry.ModelName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
@using (Html.BeginForm())
{
  @Html.LabelFor(newEntry => newEntry.ModelName)
  @Html.TextBoxFor(newEntry => newEntry.ModelName) 
  <input type="submit" value="Add to Database"/>
}

<hr/>
<p>@Html.ActionLink("Back to Machine List", "Index")</p>