@{
  Layout = "_Layout";
}

@model MechanicManager.Models.Machine

<p>Edit the information below and click Save to submit changes.</p>
<div class="row">
  <div class="col-5">
    <p>@Html.ValidationMessageFor(entry => entry.ModelName, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>  
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(entry => entry.MachineId)
      
      <p>Model Name @Html.EditorFor(entry => entry.ModelName)<input type="submit" value="Save" /></p>
    }
  </div>
</div>

<hr/>
<p>@Html.ActionLink("Back to Details", "Details", new { id = Model.MachineId })</p>