@{
  Layout = "_Layout";
}

@model MechanicManager.Models.Engineer

<p>Complete the form to add an engineer to the database.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(newEntry => newEntry.Name)
  @Html.TextBoxFor(newEntry => newEntry.Name)

  <input type="submit" value="Add to Database"/>
}

<hr/>
<p>@Html.ActionLink("Back to Engineer List", "Index")</p>