@{
  Layout = "_Layout";
}

@model MechanicManager.Models.Engineer

<p>Edit the information below and click Save to submit changes.</p>
<div class="row">
  <div class="col-5">
    <p>@Html.ValidationMessageFor(entry => entry.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>  
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(entry => entry.EngineerId)
      <p>Name @Html.EditorFor(entry => entry.Name) <input type="submit" value="Save" /></p>  
    }
  </div>
</div>

<hr/>
<p>@Html.ActionLink("Back to Details", "Details", new { id = Model.EngineerId })</p>