@{
  Layout = "_Layout";
}

@using MechanicManager.Models;
@model List<MechanicManager.Models.Engineer>;

@if(@Model.Count == 0)
{
  <p>No engineers are currently in the database.</p>
}
else 
{
  <table class="table table-hover">
    <tbody>
        @foreach(Engineer entry in Model)
        {
          <tr class="table-dark">
            <td>@Html.ActionLink($"{entry.Name}", "Details", new {id = entry.EngineerId})</td>
          </tr>
        }
    </tbody>
  </table>      
}

<hr/>
<p>@Html.ActionLink("Add Engineer to database", "Create")</p>